{% extends 'base.html'%}

{% block title %} Acerca de Portal Inmobiliario {% endblock title %}

{% block content %}
<div class="container pt-3 pb-4" style="background-color: white">
    <h1 class="text-center pt-4" style="padding-bottom: 30px;">¿Quiénes somos?</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8"> <!-- Esto limitará el ancho del contenido -->
            <div class="text-center">
                <p class="text-justify">
                    
                </p>
                <p class="text-justify">
                    
                <p class="text-justify">
                </p>
                <p class="text-justify">
                </p>
                <p class="text-justify">
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
